<!-- 
  <%# if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <%# end %>
  <h1><%#= comment.name %></h1>
  <%#= comment.body %>
  Created at <%#= comment.created_at.strftime("%d/%m/%y at %H:%M") %> -->
